body {
	width: 100%;
	font-family: sans;
	size: 10px;
	color: grey;
	background-color: #000000;
	margin: 0;
    padding: 0; }

h1 { font-family: Monospace, Arial }

.centeralign { text-align: center }

a:link {
	color: cyan;
	text-decoration: none }
a:hover {
	color: silver;
	text-decoration: blink }
a:visited {
	color: grey;
	text-decoration: none}
address {
text-color: red;
margin-top: 1em;
padding-top: 1em;
border-top: thin line }

div {
	margin-left: auto;
    margin-right: auto;
    border: 2px solid #a1a1a1;
    padding: 200px 240px; 
    background: black;
    width: 300px;
    border-radius: 25px;
}
